</div>
</div>
<div class="gridItem rightMenu sideMenu">
	<div class="sub">
		<h1>networking</h1>
		<div class="leftSubMenu sideSubMenu">
			<a href="#">About me</a>
		</div>
		<h1>stuff i like</h1>
		<div class="rightSubMenu sideSubMenu">
			<a href="#">PHP Projects</a><br/>
			<a href="#">PHP Classes &amp; Snippets</a><br/>
			<a href="#">Windows Scripting</a><br/>
			<a href="#">MS-DOS Scripting</a>
		</div>
		<h1>people i like</h1>
		<div class="rightSubMenu sideSubMenu">
			<a href="https://www.youtube.com/user/adric22"><img src="icons/youtube_16.png"> The 8-Bit Guy</a><br/>
			<a href="https://www.youtube.com/user/philscomputerlab"><img src="icons/youtube_16.png"> Phil's Computer Lab</a><br/>
			<a href="https://www.youtube.com/user/phreakindee"><img src="icons/youtube_16.png"> Lazy Game Reviews</a><br/>
			<a href="https://www.youtube.com/user/victorbart"><img src="icons/youtube_16.png"> Victor Bart</a>
		</div>
	</div>
</div>
</div>
</body>
</html>